.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 16px;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    height: 6%;
    width: 90%;
}

.sidebar a:hover {
    color: #1320b6;
}

.main {
    margin-left: 200px;
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}

.active {
    background-color: white;
    color: #000;
}

.labels {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(128, 117, 106);
    position: relative;
    left: 10vw;
}

.input {
    position: relative;
    left: 20vw;
    width: 25vw;
    height: 6vh;
    border-radius: 8px;
}

.input-1 {
    position: relative;
    left: 19vw;
    width: 25vw;
    height: 6vh;
    border-radius: 8px;
}

.text-area {
    position: relative;
    left: 19vw;
    border-radius: 8px;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
}

.send-button {
    position: relative;
    left: 50vw;
    width: 8vw;
    height: 6vh;
    font-size: 20px;
    border-radius: 5px;
    background-color: darkturquoise;
    border: none;
    color: white;
    text-align: center;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
}

.send-button:hover {
    background-color: blue;
}

.h1-add {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.dashbord-hedaer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 100px 200px 400px;
    width: 400px;
}

.activeadmin {
    text-align: right;
    position: relative;
    left: 71vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.image-setting {
    margin: 10px 100px 200px 550px;
}